<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="flex flex-col">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there</h1>
      <p class="py-6">
        Welcome to the Tailwind Angular starter
      </p>
    </div>
    <div class="max-w-md">
      <p class="py-6">
        Here are some links to get you started!
      </p>
      <div class="flex grid-cols-4 gap-3">
        <button routerLink="https://tailwindcss.com/" class="btn btn-outline">Tailwind Css</button>
        <button routerLink="https://daisyui.com/" class="btn btn-outline btn-primary">Daisy UI</button>
        <button routerLink="https://www.hyperui.dev/" class="btn btn-outline btn-secondary">Hyper UI</button>
        <button routerLink="https://floatui.com/" class="btn btn-outline btn-accent">Float UI</button>
      </div>
    </div>
  </div>
  </div>
</div>