<div id="root" class="hero bg-base-100 min-h-screen">
  <div class="hero-content text-center">
  <div class="flex flex-col">
    <div class="max-w-md">
      <h1 class="text-4xl font-bold">DDAT Quick Satisfaction Survey</h1>
      <p class="py-6">
        Hello DDAT! Tell us how your feeling today 😊.
      </p>
    </div>
    <div class="max-w-md">
      <div class="flex flex-col gap-3">
        <input (pointerup)="changeSlider($event)" id="slider" type="range" min="1" max="5" value="3" class="range" step="1" [(ngModel)]="slider"/>
        <div class="flex w-full justify-between px-2 text-xs">
          <span style="font-size: medium;">😓</span>
          <span style="font-size: medium;">😣</span>
          <span style="font-size: medium;">😐</span>
          <span style="font-size: medium;">😊</span>
          <span style="font-size: medium;">🥳</span>
        </div>
      </div>
    </div>
    <div class="max-w-md py-6">
      <div class="flex flex-col gap-3 flex justify-center items-center">
        <button disabled="false" type="button" (click)="submit()" id="submitButton" class="btn btn-outline btn-primary w-1/2">Submit</button>
      </div>
    </div>
  </div>
  </div>
</div>